:root{
    /* Primera combinacion que se propuso */
    /* --bg-color-primary:#2e4644;
    --texts-principal:#d2d1d2;
    --bg-secondary:#8b9c94;
    --bg-thirdy:#427d61; */

    /* Paleta de colores actual */
    --texts-principal:#fdf6d0;
    --bg-secondary:#264667;
    --bg-thirdy:#123254;
    --bg-color-primary:#081625;
    --bg-light:#fdf6d0;
    --bg-light-blue:#659adb;
    --bg-light-secondary:#4877b0;
    --bg-dark:#1d1d20;
    --font-titles:'Anton', sans-serif;
    --bg-accent: #3498db;
    --bg-warm: #f7d2c4;
    --text-muted: #666666;
    --font-texts:"AdihausDIN", sans-serif;
}
*{
    border: 1px solid transparent; 
    /* Esto me esta ayudando a ver los containers asi que dejenlo XD */
    /* Actualizacion, no saquen esto porque lo necesitamos si no se recortan el tamaño de los section galeria y contacto */
}
html{
    scroll-behavior: smooth;
    background-color: var(--bg-color-primary);
}
body{
    height: 100vh;
}
nav .offcanvas{
    background-color:var(--bg-color-primary);
}
.navbar-toggler-icon{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='white' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
.btn-close{
    background-color: transparent;
    font-size: 2rem;
    transition: all 0.5s ease;
}

.btn-close:hover, .navbar-toggler:hover{
    transform: scale(1.05);
}
.navbar-toggler{
    outline: none;
    border: none;
    box-shadow: none;
}
.navbar-brand{
    font-family: "Bebas Neue", "sans-serif";
    font-weight: 800;
}
.navbar-nav{
    font-family:var(--font-texts);
}

.btn-close{
    outline: none;
    box-shadow: none;
    border: none;
    z-index: 3;
}
/* Esto queda documentado ya que no estoy usando dropdowns en el nav, pero por si acaso dejarlo ahi */

/* .dropdown-item{
    transform:background-color .1s ease;
} 
.dropdown-item:hover{
    background-color: var(--bg-thirdy);
    transform: scale(1.05);
    color:var(--texts-principal);
}
.dropdown-menu{
    background-color: var(--bg-color-primary);
}
@media only screen and (min-width: 992px){
    .dropdown:hover .dropdown-menu{
        display: block;
    }
} */
.offcanvas-title, .nav-link, .dropdown-item,.nav-first, .offcanvas-title{
    color:var(--texts-principal);
}
.nav-link{
    position: relative;
}
.nav-link:focus, .dropdown-toggle:focus, .dropdown-menu:focus{
    color:var(--texts-principal);
    outline: none;
    box-shadow: none;
}
.nav-link:hover{
    color:white;
}
.navbar-nav > .nav-item > .nav-link::after{
    content:"";
    position:absolute;
    background-color:var(--texts-principal);
    width:100%;
    height:3px;
    left:0;
    bottom:0;
    transform:scaleX(0);
    transform-origin:left;
    transition:transform .5s ease;
}
.navbar-nav > .nav-item > .nav-link:hover:after{
    transform:scaleX(1);
}
.icons-socials{
    width:300px;
    justify-content: space-evenly;
    align-items: center;
}
.icons-socials i{
    font-size: 2rem;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    transition: background-color 0.3s ease;
}
.icons-socials i:hover{
    background-color: var(--bg-secondary);
} 
.main-content{
    min-height: 100vh;
    height: auto;
    width: 100%;
    flex-direction:row;
    background: radial-gradient(circle at 60% 50%, var(--bg-color-primary), var(--bg-thirdy));
}
.container-main{
    width: 40%;
    height: 500px;
    margin-top: 130px;
    display: none;
}
.row-main{
    height: 90%;
}
.main-title{
    color: #fff;
    font-size: 3rem;
    font-family: var(--font-titles);
}
.main-subtitle{
    color: #fff;
    font-size: 1.2rem;
    font-family:var(--font-texts);
}
.container-clothes{
    width: 550px;
    height: 500px;
    margin-top: 130px;
}
.clothe-img-brand{
    mask-image: linear-gradient(to top, transparent, black 30%),
                linear-gradient(to bottom, transparent, black 7%);
    mask-composite: intersect;
}
.btn-catalog{
    height: 60px;
    padding:15px;
    width:200px;
    color: var(--texts-principal);
}
.whatsapp-link{
    width: 60px;
    height: 60px;
    position: fixed;
    background-color: white;
    border-radius: 50%;
    z-index: 1000;
    bottom: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 13px black;
    text-decoration: none;
}
.whatsapp-icon{
    font-size: 2.4rem;
    color:rgb(56, 178, 56);
}
.user-buttons{
    width: 20%;
    margin-left: 180px;
}
.user-item{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.user-buttons i{
    font-size: 2.3rem;
}
.catalog{
    display: relative;
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(210deg, var(--bg-light-secondary), var(--bg-secondary));
}
.img-catalog{
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.subtitle-catalog{
    color: var(--texts-principal);
    font-size: 2rem;
    font-family: var(--font-titles);
}
.card{
    background-color: var(--bg-color-primary);
    color: var(--texts-principal);
    transition: all 0.5s ease;
    border: none;
}
.card:hover{
    box-shadow: 2px 2px 13px var(--bg-light);
}
.card-text{
    color: var(--texts-principal);
    font-family: var(--font-texts);
}
.btn-cart{
    width: 30%;
}
.btn-cart i{
    font-size: 1.6rem;
}
.galeria{
    height: 153vh;
    width: 100%;
    scroll-margin-top: 100px;
    background-image: radial-gradient(circle, var(--bg-warm), var(--bg-light-blue), var(--bg-color-primary));
}
.galeria-titulo{
    color: var(--texts-principal);
    font-size: 3rem;
    font-family: var(--font-titles);
}
.carrusel-galeria{
    width: 60%;
    margin: 60px auto;
    height: 40%;
}
.carousel-item{
    height: 60vh;
    width: 100%;
}
.carrusel-img{
    height: 80%;
    width: 100%;
    object-fit: cover;
}
.img-caption{
    height: 30%;
    justify-content: center;
    align-items: center;
    padding-bottom: 25px;
    background-color: var(--bg-dark);
}
.img-msg{
    color: var(--texts-principal);
    font-size: 2.5rem;
    font-family: var(--font-titles);
}
.form-contacto{
    height: 100vh;
    width: 100%;
    scroll-margin-top: 100px;
    background-image: radial-gradient(circle, var(--bg-light-blue), var(--bg-warm));
    border-bottom: 1px solid var(--bg-warm);
}
.form-title{
    color: var(--bg-thirdy);
    font-size: 3rem;
    font-family: var(--font-titles);
}
.form-container{
    width: 80%;
    height: 500px;
    margin: 20px auto;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-form{
    width: 50%;
    height: 100%;
    border-radius: 30px;
    box-shadow: 2px 2px 13px var(--bg-light);
    padding: 20px;
    font-family: var(--font-texts);
}
.btn-form{
    width: 100%;
}
.form-label{
    color: var(--bg-thirdy);
}
.footer{
    width: 100%;
    height: 400px;
}
.container-footer{
    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.footer-container {
    display: flex;
    justify-content: space-around;
    gap: 40px;
    margin-bottom: 20px;
}

.footer-seccion {
    flex: 1;
    min-width: 250px;
    font-family: var(--font-texts);
}

.footer-title {
    font-size: 1.4rem;
    margin-bottom: 10px;
    margin-top: 10px;
    color: var(--bg-light-blue);
}

.footer-list {
    list-style: none;
    padding: 0;
}

.footer-list li {
    margin: 10px 0;
}

.footer-link {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    transition: color 0.3s ease;
}
.footer-info{
    color:#fff;
}
.footer-seccion ul li a:hover {
    color: var(--texts-principal);
}
.social-media i {
    margin: 20px 0;
}
.footer-copy {
    margin-top: 20px;
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-copy p {
    color: #fff;
    text-align: center;
    font-family: var(--font-texts);
}


/* Estilos para novedades (no muevan nada >Bv) */
.product-card {
    position: relative;
    overflow: hidden;
}

.btn-novedades {
    color: green;
}

.product-card img {
    transition: transform 0.3s ease;
}
.product-card:hover img {
    transform: scale(1.1);
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}
.product-card:hover .overlay {
    opacity: 1;
}
    
.small-image {
    position: absolute;
    width: 100px;
    height: auto;
    z-index: 1;
    transition: transform 0.3s ease;
}
.small-image.left {
    top: 0;
    left: 0;
}
.small-image.right {
    top: 0;
    right: 0;
}
.product-card:hover .small-image {
    transform: translateY(-20px); 
}
/* .overlay h5 {
    margin-bottom: 10px;
}
.overlay button {
    margin-top: 10px;
} */


/* -------- Estilos para el login --- */

.form-login{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background-image: radial-gradient(circle, var(--bg-color-primary), var(--bg-thirdy));
}
.login-form-container {
    position: relative;
    width: 30%;
    border: 2px solid var(--bg-light-blue);
    border-radius: 20px;
    backdrop-filter: blur(15px);
    height: 64%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:70px;
    
}
.registro-form{
    height: 75%;
}
.title-form-login{
    font-size: 2.3rem;
    color: #fff;
    text-align: center;
}
.input-contenedor{
    position: relative;
    margin: 30px 0;
    width: 300px;
    border-bottom: 2px solid var(--bg-light-blue);
}
.input-contenedor label{
    position: absolute;
    top: 50%;
    /* left: 5px; */
    transform: translate(-50%);
    color: #fff;
    font-size: 1rem;
    pointer-events: none;
    transition: .6s;
    font-weight: bold;
}
.lbl-nombres-registro{
        left: 58px;
}
.lbl-telf{
    left: 20px;
}
.lbl-email{
    left: 7px;
}
.lbl-contraseña{
    left: 32px;
}
.input-login:focus ~ label,
.input-login:valid ~ label{
    top: -5px;
}
.input-contenedor input{
    width: 100%;
    height: 50px;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
    padding: -35px 0 5px;
    color: #fff;
}

.input-contenedor span{
    position: absolute;
    color: #fff;
    font-size: 1.6rem;
    top: 19px;
    right: 8px;
}
.olvidar{
    margin: -10px 0 20px;
    font-size: .9rem;
    color: #000;
    display: flex;
    justify-content: center;
}
.olvidar label input{
    margin: 3px;
}
.olvidar label a{
    color: #fff;
    text-decoration: none;
    transition: .3s;
    font-size: .9em;
    font-weight: bold;
    margin-left: 15px;
}
.volver{
    font-size: 1.4em;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    transition: .3s;
    margin:0 auto;
}
.olvidar label a:hover, .volver:hover{
    text-decoration: underline;
}
.btn-acceder{
    width: 100%;
    height: 45px;
    border-radius: 40px;
    background: #734ce0;
    border: none;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    font-size: 1rem;
    transition: .4s;
}
.btn-acceder:hover{
    opacity: .7;
}
.registrar{
    font-size: .8rem;
    color: #fff;
    text-align: center;
    margin: 30px 0 10px;
}
.registrar p a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: .3s;
    margin-left: 30px;
}
.registrar p a:hover{
    text-decoration: underline;
}
/* CSS de notificaciones (mejorao) */
/* Animacion provisional para la noti, no puedo asegurar q funcionen */
/* @keyframes aparecer {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes desaparecer {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(-20px);
    }
} */
#notification {
    z-index: 1050; 
    width: 250px; 
    position: absolute;
    top: 10%; /* Ajusta la posición en el contenedor */
    left: 63%;
    animation-duration: .5s;
    display: block;
}
/*clases para el javascript */
/* .aparecer {
    animation-name: fadeIn;
}

.desaparecer {
    animation-name: fadeOut;
} */

/* -------- Estilos para el error ------- */
.error-section{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background-image: radial-gradient(circle, var(--bg-color-primary), var(--bg-thirdy));
}
.error-container{
    text-align: center;
    width: 70%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.row-error{
    height: 70%;
}
.columna-error{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.columna-error h1{
    font-size: 4.5rem;
    color: var(--texts-principal);
    text-align: center;
    font-weight: bold;
    font-family: var(--font-titles);
}
.columna-error p{
    font-size: 1.5rem;
    color: #fff;
    text-align: center;
    font-weight: 400;
    font-family: var(--font-texts);
}
.btn-error{
    padding:15px;
    width:50%;
    color: var(--texts-principal);
}
@media only screen and (max-width:992px){
    .navbar-nav >.nav-item >.nav-link::after{
        width:30%;
    }
    .container-main{
        width:80%;
    }
    .main-title{
        font-size: 2.2rem;
    }
    .main-subtitle{
        font-size: 1rem;
    }
    .btn-catalog{
        height:40px;
        text-align: center;
        padding:5px;
    }
    .container-clothes{
        width:100%;
    }
    .img-container-main{
        width: 100%;
        min-width: 80%;
    }
    .clothe-img-brand{
        height:auto;
        width:100%;
        max-width: 400px;
    }
    .whatsapp-link{
        display: none;
    }
    .btn-detalles{
        width: 50%;
    }
    .user-buttons{
        list-style-type: none;
        align-items: center;
        width: 70%;
        margin: 10px auto;
        height: 16%;
        padding-top: 20px;
    }
    .user-item { 
        height: 70px;  
        padding: 10px; 
    }
    .fa-user{
        padding-left: 10px;
    }
    .user-buttons i{
        font-size: 2rem;
        height: 3rem;
        width: 3rem;
        border-radius: 50%;
        transition: background-color 0.3s ease;
    }
    .user-buttons a:hover{
        background-color: var(--bg-secondary);
    }
    .carrusel-galeria{
        width: 90%;
        height: 25%;
        margin: 100px auto;
    }
    .carousel-item{
        height: 40vh;
    }
    .carrusel-img{
        height: 180px;
    }
    .img-caption{
        height: 30%;
        justify-content: center;
        align-items: center;
        padding-top: 30px;
        background-color: var(--bg-dark);
    }
    .img-msg{
        color: var(--texts-principal);
        font-size: 2rem;
    }
    .form-container{
        width: 90%;
        height: 500px;
        margin: 5px auto;
    }
    .contact-form{
        width: 90%;
        /* background: #000; */
        height: 100%;
    }
    .footer{
        height: auto;
    }
    .footer-copy{
        margin-top: 10px;
    }
    
    .login-form-container{
        width: 50%;
    }
    .lbl-nombres-registro{
        left: 65px;
    }
    .lbl-email{
        left: 15px;
    }
    .lbl-contraseña{
        left: 35px;
    }
    #notification {
        z-index: 1050; 
        width: 200px; 
        position: absolute;
        top: 75%; /* Ajusta la posición en el contenedor */
        left: 42%;
        animation-duration: .5s;
        display: block;
    }
}
@media only screen and (max-width: 572px) {
    .login-form-container {
        width: 90%;
    }
}
@media only screen and (min-width: 1024px) and (max-width: 1366px) {
    .login-form-container {
        width: 50%;
    }
}
/* Css para la parte de ofertas */
.product-cardO {
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    margin-bottom: 20px;
}
.product-cardO img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}
.product-price {
    font-size: 18px;
    font-weight: bold;
    color: #d9534f;
}
.product-old-price {
    text-decoration: line-through;
    color: #999;
}
.discount-label {
    position: absolute;
    top: 10px;
    left: 10px;
    background: #d9534f;
    color: white;
    padding: 5px;
    font-size: 12px;
    border-radius: 3px;
}
.buy-button {
    margin-top: 10px;
}