/* Estilos para el del usuario */
:root {
    --bs-font-sans-serif: "Metropolis", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --bs-body-font-family: Metropolis, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    --bs-body-font-size: 1rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.5;
    --bs-body-bg: #123254;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
    :root {
        scroll-behavior: smooth;
    }
}

body {
    margin: 0;
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    color: var(--bs-body-color);
    text-align: var(--bs-body-text-align);
    background-color: var(--bs-body-bg);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

hr {
    margin: 1rem 0;
    color: var(--text-light);
    background-color: var(--text-light);
    border: 0;
    opacity: 0.30;
}

hr:not([size]) {
    height: 1px;
}

h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
    color: #363d47;
}

a {
    color: #0061f2;
    text-decoration: none;
}

.img-thumbnail {
    padding: 0.25rem;
    background-color: #f2f6fc;
    border: 1px solid #d4dae3;
    border-radius: 0.35rem;
    max-width: 100%;
    height: auto;
}

.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
    width: 100%;
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
    margin-right: auto;
    margin-left: auto;
}


@media (min-width: 992px) {

    .container-lg,
    .container-md,
    .container-sm,
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {

    .container-xl,
    .container-lg,
    .container-md,
    .container-sm,
    .container {
        max-width: 1140px;
    }
}

@media (min-width: 1500px) {

    .container-xxl,
    .container-xl,
    .container-lg,
    .container-md,
    .container-sm,
    .container {
        max-width: 1440px;
    }
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-0.5 * var(--bs-gutter-x));
    margin-left: calc(-0.5 * var(--bs-gutter-x));
}

.row>* {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    margin-top: var(--bs-gutter-y);
}

@media (min-width: 576px) {
    .col-sm {
        flex: 1 0 0%;
    }

    .col-md-6 {
        flex: 0 0 auto;
        width: 50%;
    }
}

@media (min-width: 992px) {
    .col-lg {
        flex: 1 0 0%;
    }
    .col-xl-4 {
        flex: 0 0 auto;
        width: 33.33333333%;
    }
    .col-xl-8 {
        flex: 0 0 auto;
        width: 66.66666667%;
    }
}

.form-control,
.dataTable-input {
    display: block;
    width: 100%;
    padding: 0.875rem 1.125rem;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1;
    color: #69707a;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #c5ccd6;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.35rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1;
    color: #fdf6d0;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.875rem 1.125rem;
    font-size: 0.875rem;
    border-radius: 0.35rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
    .btn {
        transition: none;
    }
}

.btn-primary {
    color: #fff;
    background-color: #0061f2;
    border-color: #0061f2;
}

.btn-primary:hover {
    color: #fff;
    background-color: #0052ce;
    border-color: #004ec2;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.nav-link:hover,
.nav-link:focus {
    color: #004ec2;
    text-decoration: none;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(33, 40, 50, 0.125);
    border-radius: 0.35rem;
}

.card-body {
    flex: 1 1 auto;
    padding: 1.35rem 1.35rem;
}

.card-header {
    padding: 1rem 1.35rem;
    margin-bottom: 0;
    background-color: rgba(33, 40, 50, 0.03);
    border-bottom: 1px solid rgba(33, 40, 50, 0.125);
}

.mt-0 {
    margin-top: 0 !important;
}

.mb-3 {
    margin-bottom: 1rem !important;
}

.mb-4 {
    margin-bottom: 1.5rem !important;
}

.ms-0 {
    margin-left: 0 !important;
}

.px-4 {
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important;
}

.pt-3 {
    padding-top: 1rem !important;
}

.text-center {
    text-align: center !important;
}

.text-muted {
    --bs-text-opacity: 1;
    color: #a7aeb8 !important;
}

.bg-white {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-white-rgb), var(--bs-bg-opacity)) !important;
}



.card {
    box-shadow: 0 0.15rem 1.75rem 0 rgba(33, 40, 50, 0.15);
}

.card .card-header {
    font-weight: 500;
}

.card:not([class*=bg-]) .card-header {
    color: var(--bg-accent);
}

.nav-borders .nav-link {
    color: var(--text-muted);
    border-bottom-width: 0.125rem;
    border-bottom-style: solid;
    border-bottom-color: transparent;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0;
    padding-right: 0;
    margin-left: 1rem;
    margin-right: 1rem;
}

.nav-borders .nav-link.active {
    color:var(--bg-accent) ;
    border-bottom-color: var(--bg-accent);
}

.page-header .page-header-content .page-header-title {
    line-height: normal;
    font-size: 2.25rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    margin-bottom: 0;
}

.page-header .page-header-content .page-header-title .page-header-icon {
    margin-right: 0.5rem;
    display: inline-flex;
}

.page-header-compact .page-header-content {
    padding: 0;
}

.page-header-compact .page-header-content .page-header-title {
    font-size: 1rem;
}

.img-account-profile {
    height: 10rem;
    /* background-color: var(--texts-principal); */
}

.footer{
    width: 100%;
    height: 400px;
}
.container-footer{
    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.footer-container {
    display: flex;
    justify-content: space-around;
    gap: 40px;
    margin-bottom: 20px;
}

.footer-seccion {
    flex: 1;
    min-width:250px;
    font-family: var(--font-texts);
}

.footer-title {
    font-size: 1.4rem;
    margin-bottom: 10px;
    margin-top: 10px;
    color: var(--bg-light-blue);
}

.footer-list {
    list-style: none;
    padding: 0;
}

.footer-list li {
    margin: 10px 0;
}

.footer-link {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    transition: color 0.3s ease;
}
.footer-info{
    color:#fff;
}
.footer-seccion ul li a:hover {
    color: var(--texts-principal);
}
.social-media i {
    margin: 20px 0;
}
.footer-copy {
    margin-top: 20px;
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-copy p {
    color: #fff;
    text-align: center;
    font-family: var(--font-texts);
}

:root{
    --texts-principal:#fdf6d0;
    --bg-secondary:#264667;
    --bg-thirdy:#123254;
    --bg-color-primary:#081625;
    --bg-light:#fdf6d0;
    --bg-light-blue:#659adb;
    --bg-light-secondary:#4877b0;
    --bg-dark:#1d1d20;
    --font-titles:'Anton', sans-serif;
    --bg-accent: #3498db;
    --bg-warm: #f7d2c4;
    --text-muted: #666666;
    --text-light: #9ec2e0;
    --font-texts:"AdihausDIN", sans-serif;
}
html{
    scroll-behavior: smooth;
    background-color: var(--bg-color-primary);
}
body{
    height: 10vh;
}

nav .offcanvas{
    background-color:var(--bg-color-primary);
}
.navbar-toggler-icon{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='white' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
.btn-close{
    background-color: transparent;
    font-size: 2rem;
    transition: all 0.5s ease;
}

.btn-close:hover, .navbar-toggler:hover{
    transform: scale(1.05);
}
.navbar-toggler{
    outline: none;
    border: none;
    box-shadow: none;
}
.navbar-brand{
    font-family: "Bebas Neue", "sans-serif";
    font-weight: 800;
}
.navbar-nav{
    font-family:var(--font-texts);
}

.btn-close{
    outline: none;
    box-shadow: none;
    border: none;
    z-index: 3;
}
.offcanvas-title, .nav-link, .dropdown-item,.nav-first, .offcanvas-title{
    color:var(--texts-principal);
}
.nav-link{
    position: relative;
}
.nav-link:focus, .dropdown-toggle:focus, .dropdown-menu:focus{
    color:var(--texts-principal);
    outline: none;
    box-shadow: none;
}
.nav-link:hover{
    color:white;
}
.navbar-nav > .nav-item > .nav-link::after{
    content:"";
    position:absolute;
    background-color:var(--texts-principal);
    width:100%;
    height:3px;
    left:0;
    bottom:0;
    transform:scaleX(0);
    transform-origin:left;
    transition:transform .5s ease;
}
.navbar-nav > .nav-item > .nav-link:hover:after{
    transform:scaleX(1);
}
.icons-socials{
    width:300px;
    justify-content: space-evenly;
    align-items: center;
}

.fa-user{
    padding-left: 10px;
}

.user-buttons i{
    font-size: 2rem;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    transition: background-color 0.3s ease;
}
.user-buttons a:hover{
    background-color: var(--bg-secondary);
}
.navbar-toggler-icon{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='white' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
 }


 @media only screen and (max-width:992px){
    .navbar-nav >.nav-item >.nav-link::after{
        width:30%;
    }
    .container-main{
        width:80%;
    }
    .main-title{
        font-size: 2.2rem;
    }
    .main-subtitle{
        font-size: 1rem;
    }
    .btn-catalog{
        height:40px;
        text-align: center;
        padding:5px;
    }
    .container-clothes{
        width:100%;
    }
    .img-container-main{
        width: 100%;
        min-width: 80%;
    }
    .clothe-img-brand{
        height:auto;
        width:100%;
        max-width: 400px;
    }
    .whatsapp-link{
        display: none;
    }
    .btn-detalles{
        width: 50%;
    }
    .user-buttons{
        list-style-type: none;
        align-items: center;
        width: 70%;
        margin: 10px auto;
        height: 16%;
        padding-top: 20px;
    }
    .user-item { 
        height: 70px;  
        padding: 10px; 
    }
    .fa-user{
        padding-left: 10px;
    }
    .user-buttons i{
        font-size: 2rem;
        height: 3rem;
        width: 3rem;
        border-radius: 50%;
        transition: background-color 0.3s ease;
    }
    .user-buttons a:hover{
        background-color: var(--bg-secondary);
    }
    .carrusel-galeria{
        width: 90%;
        height: 25%;
        margin: 100px auto;
    }
    .carousel-item{
        height: 40vh;
    }
    .carrusel-img{
        height: 180px;
    }
    .img-caption{
        height: 30%;
        justify-content: center;
        align-items: center;
        padding-top: 30px;
        background-color: var(--bg-dark);
    }
    .img-msg{
        color: var(--texts-principal);
        font-size: 2rem;
    }
    .form-container{
        width: 90%;
        height: 500px;
        margin: 5px auto;
    }
    .contact-form{
        width: 90%;
        /* background: #000; */
        height: 100%;
    }
    .footer{
        height: auto;
    }
    .footer-copy{
        margin-top: 10px;
    }
    
    .login-form-container{
        width: 50%;
    }
    .lbl-nombres-registro{
        left: 65px;
    }
    .lbl-email{
        left: 15px;
    }
    .lbl-contraseña{
        left: 35px;
    }
    #notification {
        width: 200px; 
        top: 75%;
        left: 42%;
    }
}

.table-responsive, .dataTable-wrapper .dataTable-container {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
  
  @media (max-width: 575.98px) {
    .table-responsive-sm {
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
    }
  }
  @media (max-width: 767.98px) {
    .table-responsive-md {
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
    }
  }
  @media (max-width: 991.98px) {
    .table-responsive-lg {
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
    }
  }
  @media (max-width: 1199.98px) {
    .table-responsive-xl {
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
    }
  }
  @media (max-width: 1499.98px) {
    .table-responsive-xxl {
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
    }
  }
  .form-label {
    margin-bottom: 0.5rem;
  }

  
.table-billing-history {
    font-size: 0.85rem;
  }
  .table-billing-history thead th {
    border-top: none;
  }
  .table-billing-history th,
  .table-billing-history td {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 1.375rem;
    padding-right: 1.375rem;
  }
  .card > .card-header + .list-group,
.card > .list-group + .card-footer {
  border-top: 0;
}


.card-header {
    padding: 1rem 1.35rem;
    margin-bottom: 0;
    background-color: rgba(33, 40, 50, 0.03);
    border-bottom: 1px solid rgba(33, 40, 50, 0.125);
  }
  .card-header:first-child {
    border-radius: 0.35rem 0.35rem 0 0;
  }

  
.card-header-tabs {
    margin-right: -0.675rem;
    margin-bottom: -1rem;
    margin-left: -0.675rem;
    border-bottom: 0;
  }
  .card-header-tabs .nav-link.active {
    background-color: #fff;
    border-bottom-color: #fff;
  }
  
  .card-header-pills {
    margin-right: -0.675rem;
    margin-left: -0.675rem;
  }

  .badge {
    display: inline-block;
    padding: 0.35em 0.65em;
    font-size: 0.75em;
    font-weight: 400;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.35rem;
  }
  .badge:empty {
    display: none;
  }
  
  .btn .badge {
    position: relative;
    top: -1px;
  }

  .bg-gray-200 {
    background-color: #e0e5ec !important;
  }

  
thead,
tbody,
tfoot,
tr,
td,
th {
  border-color: inherit;
  border-style: solid;
  border-width: 0;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  font-size: 1rem;
  line-height: 1.5;
  text-align: left;
}

input:focus {
    background-color: transparent !important;;
    color: black !important;
}

.table th, .table td {
    color: #ffffff; /* Cambia esto al color que prefieras */
}

.coso-table{
    color: white !important;;
}
.bg-red{
    background-color: red;
}
#verProductosModal .table th,
#verProductosModal .table td {
    text-align: center;
    vertical-align: middle;
}

#verProductosModal .table th {
    background-color: #000000;
}

#verProductosModal .modal-body h5 {
    font-weight: bold;
}

/* Para historial de productos */
    .producto-item p {
        margin: 0;
    }

    .producto-item .fw-bold {
        font-size: 1rem;
    }

    .modal-content {
        animation: fadeIn 0.3s ease-in-out;
    }
.btnVerDetalles{
    border-radius: 40px;
    transition: all 0.3s ease-in-out;
}
.btnVerDetalles:hover{
    background-color: var(--bg-light-secondary);
}
label{
    color: var(--bg-accent);
}
    @keyframes fadeIn {
        from {
            opacity: 0;
            transform: scale(0.95);
        }
        to {
            opacity: 1;
            transform: scale(1);
        }
    }
.text-azul{
    color: var(--bg-accent);
}

.text-azulito{
    color: var(--bg-light-blue);
}

.main-content{
    min-height: 100vh;
    height: auto;
    width: 100%;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle at 60% 50%, var(--bg-color-primary), var(--bg-thirdy));
}
.card3{
    background-color: var(--bg-color-primary);
    color: var(--texts-principal);
    transition: all 0.5s ease;
    border: none;
}