:root{
    /* --bg-color-primary:#2e4644;
    --texts-principal:#d2d1d2;
    --bg-secondary:#8b9c94;
    --bg-thirdy:#427d61; */
    --texts-principal:#fdf6d0;
    --bg-secondary:#264667;
    --bg-thirdy:#123254;
    --bg-color-primary:#081625;
    --bg-light:#fdf6d0;
    --bg-light-blue:#659adb;
    --bg-light-secondary:#4877b0;
}
*{
    border: 1px solid blue;
}
html{
    scroll-behavior: smooth;
    background-color: var(--bg-color-primary);
}
body{
    height: 100vh;
}
nav .offcanvas{
    background-color:var(--bg-color-primary);
}
.navbar-toggler-icon{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='white' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
.btn-close{
    background-color: transparent;
    font-size: 2rem;
    transition: all 0.5s ease;
}

.btn-close:hover, .navbar-toggler:hover{
    transform: scale(1.05);
}
.navbar-toggler{
    outline: none;
    border: none;
    box-shadow: none;
}
.navbar-brand{
    font-family: var(--font-titles);
    font-weight: 800;
}
.navbar-nav{
    font-family:var(--font-texts);
}

.btn-close{
    outline: none;
    box-shadow: none;
    border: none;
    z-index: 3;
}
.dropdown-item{
    transform:background-color .1s ease;
} 
.dropdown-item:hover{
    background-color: var(--bg-thirdy);
    transform: scale(1.05);
    color:var(--texts-principal);
}
.dropdown-menu{
    background-color: var(--bg-color-primary);
}
@media only screen and (min-width: 992px){
    .dropdown:hover .dropdown-menu{
        display: block;
    }
}
.offcanvas-title, .nav-link, .dropdown-item,.nav-first, .offcanvas-title{
    color:var(--texts-principal);
}
.nav-link{
    position: relative;
}
.nav-link:focus, .dropdown-toggle:focus, .dropdown-menu:focus{
    color:var(--texts-principal);
    outline: none;
    box-shadow: none;
}
.nav-link:hover{
    color:white;
}
.navbar-nav > .nav-item > .nav-link::after{
    content:"";
    position:absolute;
    background-color:var(--texts-principal);
    width:100%;
    height:3px;
    left:0;
    bottom:0;
    transform:scaleX(0);
    transform-origin:left;
    transition:transform .5s ease;
}
.navbar-nav > .nav-item > .nav-link:hover:after{
    transform:scaleX(1);
}
.icons-socials{
    width:300px;
    justify-content: space-evenly;
    align-items: center;
}
.icons-socials i{
    font-size: 2rem;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    transition: background-color 0.3s ease;
}
.icons-socials i:hover{
    background-color: var(--bg-secondary);
} 
.main-content{
    min-height: 100vh;
    height: auto;
    width: 100%;
    flex-direction:row;
    background: radial-gradient(circle at 60% 50%, var(--bg-color-primary), var(--bg-thirdy));
}
.container-main{
    width: 40%;
    height: 500px;
    /* background-color: green; */
    margin-top: 130px;
    display: none;
}
.row-main{
    height: 90%;
}
.main-title{
    color: #fff;
    font-size: 3rem;
    /* font-family: var(--font-titles); Ignorar esto, todavia no hay una fuente establecida */
}
.main-subtitle{
    color: #fff;
    font-size: 1.2rem;
    /* font-family:var(--font-texts); Ignorar, no hay fuente */
}
.container-clothes{
    width: 550px;
    height: 500px;
    /* background-color: gray; */
    margin-top: 130px;
}
.clothe-img-brand{
    mask-image: linear-gradient(to top, transparent, black 30%),
                linear-gradient(to bottom, transparent, black 7%);
    mask-composite: intersect;
}
.btn-catalog{
    height: 60px;
    padding:15px;
    width:200px;
    color: var(--texts-principal);
}
.whatsapp-link{
    width: 60px;
    height: 60px;
    position: fixed;
    background-color: white;
    border-radius: 50%;
    z-index: 1000;
    bottom: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 13px black;
    text-decoration: none;
}
.whatsapp-icon{
    font-size: 2.4rem;
    color:rgb(56, 178, 56);
}
.user-buttons{
    width: 20%;
    background-color: yellowgreen;
    margin-left: 180px;
}
.user-item{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.user-buttons i{
    
}
.catalog{
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(210deg, var(--bg-light-secondary), var(--bg-secondary));
}
.img-catalog{
    width: 100%;
    height: 400px;
    object-fit: cover;
}
.subtitle-catalog{
    color: var(--texts-principal);
    font-size: 2rem;
    font-family: var(--font-titles);
}
.card{
    background-color: var(--bg-color-primary);
    color: var(--texts-principal);
    transition: all 0.5s ease;
    border: none;
}
.card:hover{
    box-shadow: 2px 2px 13px var(--bg-light);
}
.card-text{
    color: var(--texts-principal);
}
.btn-cart{
    width: 30%;
}
.btn-cart i{
    font-size: 1.6rem;
}
@media only screen and (max-width:992px){
    .navbar-nav >.nav-item >.nav-link::after{
        width:30%;
    }
    .container-main{
        width:80%;
    }
    .main-title{
        font-size: 2.2rem;
    }
    .main-subtitle{
        font-size: 1rem;
    }
    .btn-catalog{
        height:40px;
        text-align: center;
        padding:5px;
    }
    .container-clothes{
        width:100%;
    }
    .img-container-main{
        width: 100%;
        min-width: 80%;
    }
    .clothe-img-brand{
        height:auto;
        width:100%;
        max-width: 400px;
    }
    .whatsapp-link{
        display: none;
    }
    .btn-detalles{
        width: 50%;
    }
    .user-buttons{
        list-style-type: none;
        align-items: center;
        width: 70%;
        margin: 10px auto;
        height: 16%;
        padding-top: 20px;
    }
    .user-item { 
        height: 70px;  
        padding: 10px; 
    }
    .fa-user{
        padding-left: 10px;
    }
    .user-buttons i{
        font-size: 2rem;
        height: 3rem;
        width: 3rem;
        border-radius: 50%;
        transition: background-color 0.3s ease;
    }
    .user-buttons a:hover{
        background-color: var(--bg-secondary);
    }
}